01-acquisition-multilingual-librarian.json
{
  "name": "Bibliophile Concierge - Member 1: Acquisition & Multi-Lingual Librarian",
  "nodes": [
    {
      "parameters": {
        "formTitle": "🌿 Plant a New Book",
        "formDescription": "Add a book to your library. Title can be in English, Urdu, or Arabic.",
        "formFields": {
          "values": [
            { "fieldLabel": "Book Title", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Author (optional)", "fieldType": "text" },
            { "fieldLabel": "Notes / Quote you loved", "fieldType": "textarea" },
            { "fieldLabel": "Owner / Shelf", "fieldType": "dropdown", "fieldOptions": { "values": [ {"option":"Main Garden"}, {"option":"Member 1"}, {"option":"Member 2"}, {"option":"Member 3"} ] } }
          ]
        },
        "options": { "customCss": "body{background:linear-gradient(135deg,#fef6e4,#f3d2c1);font-family:Georgia,serif;}.form-container{background:#fffaf0;border:2px solid #d4a373;border-radius:16px;}h1{color:#6b4226;}button{background:#7a9e7e !important;border-radius:999px !important;}" }
      },
      "id": "form-trigger",
      "name": "📖 Book Intake Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "bibliophile-intake"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/books/v1/volumes",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "q", "value": "={{ $json['Book Title'] }}" }, { "name": "maxResults", "value": "1" } ] },
        "options": {}
      },
      "id": "google-books",
      "name": "📚 Google Books Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://openlibrary.org/search.json",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "title", "value": "={{ $('📖 Book Intake Form').item.json['Book Title'] }}" }, { "name": "limit", "value": "1" } ] },
        "options": {}
      },
      "id": "open-library",
      "name": "🏛️ Open Library Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "mode": "combine", "combineBy": "combineByPosition", "options": {} },
      "id": "merge-sources",
      "name": "🔗 Merge Book Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const gb = $input.first().json;\nconst ol = $input.last().json;\nlet cover = gb?.items?.[0]?.volumeInfo?.imageLinks?.thumbnail || '';\nif (cover) cover = cover.replace('http://', 'https://');\nif (!cover) {\n  const isbn = ol?.docs?.[0]?.isbn?.[0];\n  if (isbn) cover = `https://covers.openlibrary.org/b/isbn/${isbn}-L.jpg`;\n}\nif (!cover) cover = 'https://covers.openlibrary.org/b/id/8739161-L.jpg';\nreturn [{ json: { coverUrl: cover } }];"
      },
      "id": "extract-cover",
      "name": "🖼️ Extract Cover (Free)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "jsCode": "const title = $('📖 Book Intake Form').item.json['Book Title'] || '';\nlet lang = 'English';\nif (/[\\u0600-\\u06FF]/.test(title)) lang = 'Arabic/Urdu';\nelse if (/[\\u4e00-\\u9fff]/.test(title)) lang = 'Chinese';\nelse if (/[\\u0900-\\u097F]/.test(title)) lang = 'Hindi';\nelse if (/[а-яА-Я]/.test(title)) lang = 'Russian';\nreturn [{ json: { detectedLanguage: lang } }];"
      },
      "id": "detect-lang",
      "name": "🌐 Detect Language (Free)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 420]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            { "role": "system", "content": "You are a librarian. Return STRICT JSON: { genre (Novels/Poetry/Education/Religion/Biography/Science/Children/Other), plant_spirit (flower matching genre: Poetry=Lily, Novels=Rose, Education=Oak, Religion=Lotus, Biography=Sunflower, Science=Fern, Children=Daisy, Other=Ivy), one_line_summary, estimated_price_usd (number), mood_tag (cozy/adventurous/melancholic/intellectual/spiritual/playful) }" },
            { "role": "user", "content": "=Title: {{ $('📖 Book Intake Form').item.json['Book Title'] }}\nAuthor: {{ $('📖 Book Intake Form').item.json['Author (optional)'] || 'unknown' }}\nInfo: {{ JSON.stringify($('📚 Google Books Lookup').item.json.items?.[0]?.volumeInfo || {}) }}" }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "ai-classify",
      "name": "🤖 AI: Genre + Plant Spirit",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title":        "={{ $('📖 Book Intake Form').item.json['Book Title'] }}",
            "Author":       "={{ $('📖 Book Intake Form').item.json['Author (optional)'] }}",
            "Language":     "={{ $('🌐 Detect Language (Free)').item.json.detectedLanguage }}",
            "Genre":        "={{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.genre }}",
            "Plant Spirit": "={{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.plant_spirit }}",
            "Summary":      "={{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.one_line_summary }}",
            "Price (USD)":  "={{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.estimated_price_usd }}",
            "Status":       "Available",
            "Cover URL":    "={{ $('🖼️ Extract Cover (Free)').item.json.coverUrl }}",
            "Owner":        "={{ $('📖 Book Intake Form').item.json['Owner / Shelf'] }}",
            "Notes":        "={{ $('📖 Book Intake Form').item.json['Notes / Quote you loved'] }}"
          }
        }
      },
      "id": "airtable-create",
      "name": "🌱 Plant in Airtable Vault",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_BACKUP_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Books", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title":    "={{ $('📖 Book Intake Form').item.json['Book Title'] }}",
            "Author":   "={{ $('📖 Book Intake Form').item.json['Author (optional)'] }}",
            "Genre":    "={{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.genre }}",
            "Language": "={{ $('🌐 Detect Language (Free)').item.json.detectedLanguage }}",
            "Status":   "Available",
            "Owner":    "={{ $('📖 Book Intake Form').item.json['Owner / Shelf'] }}"
          }
        }
      },
      "id": "sheets-backup",
      "name": "📒 Backup to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1680, 200]
    },
    {
      "parameters": {
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"🌿 New Book Planted!\",\n    \"description\": \"**{{ $('📖 Book Intake Form').item.json['Book Title'] }}** has been added to the library!\",\n    \"color\": 7893879,\n    \"thumbnail\": { \"url\": \"{{ $('🖼️ Extract Cover (Free)').item.json.coverUrl }}\" },\n    \"fields\": [\n      { \"name\": \"📚 Genre\", \"value\": \"{{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.genre }}\", \"inline\": true },\n      { \"name\": \"🌸 Plant Spirit\", \"value\": \"{{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.plant_spirit }}\", \"inline\": true },\n      { \"name\": \"🌐 Language\", \"value\": \"{{ $('🌐 Detect Language (Free)').item.json.detectedLanguage }}\", \"inline\": true },\n      { \"name\": \"💰 Est. Value\", \"value\": \"${{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.estimated_price_usd }}\", \"inline\": true },\n      { \"name\": \"📝 Summary\", \"value\": \"{{ $('🤖 AI: Genre + Plant Spirit').item.json.message.content.one_line_summary }}\" }\n    ],\n    \"footer\": { \"text\": \"May it bloom in your library garden 🌷\" }\n  }]\n}",
        "options": {}
      },
      "id": "discord-confirm",
      "name": "💬 Discord Planting Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 420],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "📖 Book Intake Form": { "main": [[ { "node": "📚 Google Books Lookup", "type": "main", "index": 0 }, { "node": "🏛️ Open Library Lookup", "type": "main", "index": 0 } ]] },
    "📚 Google Books Lookup": { "main": [[ { "node": "🔗 Merge Book Sources", "type": "main", "index": 0 } ]] },
    "🏛️ Open Library Lookup": { "main": [[ { "node": "🔗 Merge Book Sources", "type": "main", "index": 1 } ]] },
    "🔗 Merge Book Sources": { "main": [[ { "node": "🖼️ Extract Cover (Free)", "type": "main", "index": 0 }, { "node": "🌐 Detect Language (Free)", "type": "main", "index": 0 } ]] },
    "🖼️ Extract Cover (Free)": { "main": [[ { "node": "🤖 AI: Genre + Plant Spirit", "type": "main", "index": 0 } ]] },
    "🌐 Detect Language (Free)": { "main": [[ { "node": "🤖 AI: Genre + Plant Spirit", "type": "main", "index": 0 } ]] },
    "🤖 AI: Genre + Plant Spirit": { "main": [[ { "node": "🌱 Plant in Airtable Vault", "type": "main", "index": 0 } ]] },
    "🌱 Plant in Airtable Vault": { "main": [[ { "node": "📒 Backup to Google Sheets", "type": "main", "index": 0 }, { "node": "💬 Discord Planting Confirmation", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "bibliophile" }, { "name": "member-1" }]
}
