02-inventory-loan-manager.json
{
  "name": "Bibliophile Concierge - Member 2: Inventory & Loan Manager",
  "nodes": [
    {
      "parameters": {
        "formTitle": "📤 Issue / Return a Book",
        "formDescription": "Lend a book to a friend or mark it as returned.",
        "formFields": {
          "values": [
            { "fieldLabel": "Book Title", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Action", "fieldType": "dropdown", "fieldOptions": { "values": [ {"option":"Issue"}, {"option":"Return"} ] }, "requiredField": true },
            { "fieldLabel": "Friend's Name", "fieldType": "text" },
            { "fieldLabel": "Friend's Contact (Email/Phone)", "fieldType": "text" },
            { "fieldLabel": "Return Due Date", "fieldType": "date" }
          ]
        },
        "options": { "customCss": "body{background:#fef6e4;font-family:Georgia,serif;}h1{color:#6b4226;}button{background:#7a9e7e !important;border-radius:999px !important;}" }
      },
      "id": "loan-form",
      "name": "📋 Loan Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [220, 300],
      "webhookId": "bibliophile-loan"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=SEARCH(LOWER(\"{{ $json['Book Title'] }}\"), LOWER({Title}))",
        "options": {}
      },
      "id": "find-book",
      "name": "🔎 Find Book in Vault",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": false }, "combinator": "and", "conditions": [ { "leftValue": "={{ $('📋 Loan Form').item.json.Action }}", "rightValue": "Issue", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Issue" },
            { "conditions": { "options": { "caseSensitive": false }, "combinator": "and", "conditions": [ { "leftValue": "={{ $('📋 Loan Form').item.json.Action }}", "rightValue": "Return", "operator": { "type": "string", "operation": "equals" } } ] }, "renameOutput": true, "outputKey": "Return" }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "🔀 Issue or Return?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "id": "={{ $('🔎 Find Book in Vault').item.json.id }}",
        "columns": { "mappingMode": "defineBelow", "value": { "Status": "Issued", "Lent To": "={{ $('📋 Loan Form').item.json[\"Friend's Name\"] }}", "Due Date": "={{ $('📋 Loan Form').item.json['Return Due Date'] }}" } }
      },
      "id": "mark-issued",
      "name": "📕 Mark as Issued",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [940, 180]
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "id": "={{ $('🔎 Find Book in Vault').item.json.id }}",
        "columns": { "mappingMode": "defineBelow", "value": { "Status": "Available", "Lent To": "", "Due Date": "" } }
      },
      "id": "mark-returned",
      "name": "📗 Mark as Returned",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [940, 440]
    },
    {
      "parameters": {
        "calendar": { "__rl": true, "value": "primary", "mode": "list" },
        "start": "={{ $('📋 Loan Form').item.json['Return Due Date'] }}T09:00:00",
        "end": "={{ $('📋 Loan Form').item.json['Return Due Date'] }}T10:00:00",
        "additionalFields": {
          "summary": "=📖 Return: {{ $('📋 Loan Form').item.json['Book Title'] }} from {{ $('📋 Loan Form').item.json[\"Friend's Name\"] }}",
          "description": "=Lent on {{ $now.format('yyyy-MM-dd') }}. Contact: {{ $('📋 Loan Form').item.json[\"Friend's Contact (Email/Phone)\"] }}"
        }
      },
      "id": "gcal",
      "name": "📅 Google Calendar Reminder",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1180, 60]
    },
    {
      "parameters": {
        "taskListId": { "__rl": true, "value": "@default", "mode": "list", "cachedResultName": "My Tasks" },
        "title": "=📖 Return \"{{ $('📋 Loan Form').item.json['Book Title'] }}\" from {{ $('📋 Loan Form').item.json[\"Friend's Name\"] }}",
        "additionalFields": {
          "dueDate": "={{ $('📋 Loan Form').item.json['Return Due Date'] }}",
          "notes": "=Contact: {{ $('📋 Loan Form').item.json[\"Friend's Contact (Email/Phone)\"] }}"
        }
      },
      "id": "google-tasks",
      "name": "✅ Google Tasks Reminder",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [1180, 220]
    },
    {
      "parameters": {
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"embeds\": [{ \"title\": \"📤 Book Issued\", \"description\": \"**{{ $('📋 Loan Form').item.json['Book Title'] }}** lent to **{{ $('📋 Loan Form').item.json[\\\"Friend's Name\\\"] }}**.\", \"color\": 15844367, \"fields\": [{ \"name\": \"📅 Due Date\", \"value\": \"{{ $('📋 Loan Form').item.json['Return Due Date'] }}\", \"inline\": true }], \"footer\": { \"text\": \"Bibliophile Concierge\" } }] }",
        "options": {}
      },
      "id": "discord-issued",
      "name": "💬 Discord: Book Issued",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 380],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_BACKUP_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Loans", "mode": "name" },
        "columns": { "mappingMode": "defineBelow", "value": { "Title": "={{ $('📋 Loan Form').item.json['Book Title'] }}", "Friend": "={{ $('📋 Loan Form').item.json[\"Friend's Name\"] }}", "Due": "={{ $('📋 Loan Form').item.json['Return Due Date'] }}", "Status": "Issued" } }
      },
      "id": "sheets-loan-log",
      "name": "📒 Sheets Loan Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1180, 540]
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] } },
      "id": "daily-cron",
      "name": "⏰ Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 760]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "q", "value": "={{ $vars.OWNER_CITY }}" }, { "name": "appid", "value": "={{ $vars.OPENWEATHER_API_KEY }}" }, { "name": "units", "value": "metric" } ] },
        "options": {}
      },
      "id": "weather",
      "name": "🌤️ Check Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 760],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const w = $input.first().json.weather?.[0]?.main || 'Clear';\nconst map = { Rain:'Poetry', Drizzle:'Poetry', Clouds:'Novels', Clear:'Novels', Snow:'Children', Thunderstorm:'Religion', Mist:'Biography', Fog:'Biography' };\nreturn [{ json: { weather: w, suggestedGenre: map[w] || 'Novels' } }];"
      },
      "id": "weather-map",
      "name": "🍃 Weather → Genre",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 760]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=AND({Genre}=\"{{ $json.suggestedGenre }}\", {Status}=\"Available\")",
        "options": { "limit": 1 }
      },
      "id": "pick-book",
      "name": "🌸 Pick a Book for Today",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [940, 760]
    },
    {
      "parameters": {
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"🌤️ Today's Reading Suggestion\",\n    \"description\": \"Today is a **{{ $('🍃 Weather → Genre').item.json.suggestedGenre }} Day** ({{ $('🍃 Weather → Genre').item.json.weather }})!\",\n    \"color\": 5793266,\n    \"thumbnail\": { \"url\": \"{{ $json.fields['Cover URL'] || '' }}\" },\n    \"fields\": [\n      { \"name\": \"📖 Book\", \"value\": \"**{{ $json.fields.Title }}**\", \"inline\": true },\n      { \"name\": \"✍️ Author\", \"value\": \"{{ $json.fields.Author || 'Unknown' }}\", \"inline\": true },\n      { \"name\": \"🌱 Plant Spirit\", \"value\": \"{{ $json.fields['Plant Spirit'] || '🌿' }}\", \"inline\": true }\n    ],\n    \"footer\": { \"text\": \"Water your mind today 🌷\" }\n  }]\n}",
        "options": {}
      },
      "id": "discord-suggest",
      "name": "💬 Discord Daily Suggestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 760],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * *" }] } },
      "id": "overdue-cron",
      "name": "⏰ Daily Overdue Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 1020]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=AND({Status}=\"Issued\", IS_BEFORE({Due Date}, TODAY()))",
        "options": {}
      },
      "id": "find-overdue",
      "name": "⚠️ Find Overdue Books",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 1020]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.GMAIL_FROM }}",
        "toList": "={{ $vars.OWNER_EMAIL }}",
        "subject": "=⚠️ Overdue Book: {{ $json.fields.Title }}",
        "emailType": "html",
        "message": "=<div style='font-family:Georgia,serif;background:#fef6e4;padding:24px;border-radius:16px;color:#6b4226'><h2>📚 Overdue Book Alert</h2><p><b>{{ $json.fields.Title }}</b> was due on <b>{{ $json.fields['Due Date'] }}</b>.</p><p>Lent to: <b>{{ $json.fields['Lent To'] }}</b></p><p>Please follow up. 🌷</p></div>"
      },
      "id": "gmail-overdue",
      "name": "📧 Gmail: Overdue Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 940]
    },
    {
      "parameters": {
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"embeds\": [{ \"title\": \"⚠️ Overdue Book\", \"description\": \"**{{ $json.fields.Title }}** was due {{ $json.fields['Due Date'] }}.\", \"color\": 15158332, \"fields\": [{ \"name\": \"👤 Lent To\", \"value\": \"{{ $json.fields['Lent To'] }}\", \"inline\": true }], \"footer\": { \"text\": \"Follow up — Bibliophile Concierge\" } }] }",
        "options": {}
      },
      "id": "discord-ping",
      "name": "💬 Discord Overdue Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 1100],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "📋 Loan Form": { "main": [[ { "node": "🔎 Find Book in Vault", "type": "main", "index": 0 } ]] },
    "🔎 Find Book in Vault": { "main": [[ { "node": "🔀 Issue or Return?", "type": "main", "index": 0 } ]] },
    "🔀 Issue or Return?": { "main": [ [{ "node": "📕 Mark as Issued", "type": "main", "index": 0 }], [{ "node": "📗 Mark as Returned", "type": "main", "index": 0 }] ] },
    "📕 Mark as Issued": { "main": [[ { "node": "📅 Google Calendar Reminder", "type": "main", "index": 0 }, { "node": "✅ Google Tasks Reminder", "type": "main", "index": 0 }, { "node": "💬 Discord: Book Issued", "type": "main", "index": 0 }, { "node": "📒 Sheets Loan Log", "type": "main", "index": 0 } ]] },
    "⏰ Daily 9AM Trigger": { "main": [[ { "node": "🌤️ Check Weather", "type": "main", "index": 0 } ]] },
    "🌤️ Check Weather": { "main": [[ { "node": "🍃 Weather → Genre", "type": "main", "index": 0 } ]] },
    "🍃 Weather → Genre": { "main": [[ { "node": "🌸 Pick a Book for Today", "type": "main", "index": 0 } ]] },
    "🌸 Pick a Book for Today": { "main": [[ { "node": "💬 Discord Daily Suggestion", "type": "main", "index": 0 } ]] },
    "⏰ Daily Overdue Check": { "main": [[ { "node": "⚠️ Find Overdue Books", "type": "main", "index": 0 } ]] },
    "⚠️ Find Overdue Books": { "main": [[ { "node": "📧 Gmail: Overdue Alert", "type": "main", "index": 0 }, { "node": "💬 Discord Overdue Ping", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "bibliophile" }, { "name": "member-2" }]
}
