03-engagement-semantic-search.json
{
  "name": "🌿 Bibliophile Concierge — Member 3: Engagement & Semantic Search",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] } },
      "id": "morning-cron",
      "name": "🌅 Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            { "role": "system", "content": "You are a poetic librarian. Return STRICT JSON only: { \"unique_code\": \"6-char alphanumeric\", \"quote\": \"under 25 words\", \"attribution\": \"author or book name\" }" },
            { "role": "user", "content": "Generate today's Water Your Mind motivational message." }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "ai-quote",
      "name": "🤖 AI Quote of the Day",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [460, 200]
    },
    {
      "parameters": {
        "fromEmail": "khalidwardha1@gmail.com",
        "toList": "khalidwardha1@gmail.com",
        "subject": "=🌱 Water Your Mind — Code {{ $json.message.content.unique_code }}",
        "emailType": "html",
        "message": "=<div style='font-family:Georgia,serif;background:linear-gradient(135deg,#fef6e4,#f3d2c1);padding:32px;border-radius:20px;color:#6b4226;max-width:480px;margin:auto;'><h2 style='color:#7a9e7e;letter-spacing:1px;'>🌿 Water Your Mind</h2><blockquote style='font-size:20px;font-style:italic;border-left:4px solid #d4a373;padding-left:16px;margin:20px 0;'>&ldquo;{{ $json.message.content.quote }}&rdquo;</blockquote><p style='color:#9b7b5a;'>— {{ $json.message.content.attribution }}</p><div style='background:#fffaf0;border:1.5px solid #d4a373;border-radius:12px;padding:14px;margin-top:20px;text-align:center;'><span style='font-size:13px;color:#9b7b5a;'>Today's Code</span><br/><b style='font-size:22px;letter-spacing:3px;color:#6b4226;'>{{ $json.message.content.unique_code }}</b></div><p style='margin-top:24px;color:#7a9e7e;font-size:13px;font-style:italic;text-align:center;'>🌷 Bibliophile Concierge — Your Enchanted Library Garden</p></div>"
      },
      "id": "gmail-quote",
      "name": "📧 Gmail: Water Your Mind",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 120]
    },
    {
      "parameters": {
        "url": "https://discord.com/api/webhooks/1500211049113190552/AqZ5ib8wGq-7NdlsrZR0enbyd8U8kM4uSItd80DafG-0SWCk_FAt6DhPCy6g-XjwhR_N",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"🌅 Water Your Mind\",\n    \"description\": \"> *{{ $json.message.content.quote }}*\\n> — {{ $json.message.content.attribution }}\",\n    \"color\": 7893879,\n    \"footer\": { \"text\": \"🔑 Daily Code: {{ $json.message.content.unique_code }} | Bibliophile Concierge 🌷\" }\n  }]\n}",
        "options": {}
      },
      "id": "discord-quote",
      "name": "💬 Discord Daily Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "🔍 Search Your Enchanted Library",
        "formDescription": "Search for any character, quote, topic, or theme across all your books and PDFs.",
        "formFields": {
          "values": [
            { "fieldLabel": "Search Query", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Your Email (results will be sent here)", "fieldType": "text", "requiredField": true }
          ]
        },
        "options": {
          "customCss": "body{background:linear-gradient(135deg,#fef6e4,#f3d2c1);font-family:Georgia,serif;}.form-container{background:#fffaf0;border:2px solid #d4a373;border-radius:20px;box-shadow:0 8px 32px rgba(120,80,40,0.18);padding:32px;}h1{color:#6b4226;}label{color:#7a5c3a;font-weight:bold;}input{border:1.5px solid #d4a373 !important;border-radius:10px !important;background:#fffdf7 !important;}button{background:linear-gradient(135deg,#7a9e7e,#4a7c59) !important;border-radius:999px !important;color:#fff !important;font-size:1.1em !important;padding:12px 36px !important;border:none !important;}"
        }
      },
      "id": "search-form",
      "name": "🔍 Book Search Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [220, 520],
      "webhookId": "bibliophile-search"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "apptGlLDt9VHCE9ey", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=OR(SEARCH(LOWER(\"{{ $json['Search Query'] }}\"), LOWER({Notes})), SEARCH(LOWER(\"{{ $json['Search Query'] }}\"), LOWER({Summary})), SEARCH(LOWER(\"{{ $json['Search Query'] }}\"), LOWER({Title})))",
        "options": { "limit": 5 }
      },
      "id": "search-airtable",
      "name": "🔎 Search in Vault",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 460]
    },
    {
      "parameters": {
        "operation": "search",
        "queryString": "={{ \"fullText contains '\" + $('🔍 Book Search Form').item.json['Search Query'] + \"' and mimeType = 'application/pdf'\" }}",
        "options": {}
      },
      "id": "drive-search",
      "name": "📁 Google Drive PDF Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 620]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            { "role": "system", "content": "You are a friendly librarian. Given a search query and matched books, write a warm, concise reply under 600 chars listing what was found and the most relevant result." },
            { "role": "user", "content": "=Query: {{ $('🔍 Book Search Form').item.json['Search Query'] }}\nMatches: {{ JSON.stringify($('🔎 Search in Vault').all().map(i => ({ title: i.json.fields?.Title, summary: i.json.fields?.Summary, notes: i.json.fields?.Notes }))) }}\nPDFs found: {{ $('📁 Google Drive PDF Search').all().map(i => i.json.name).join(', ') || 'none' }}" }
          ]
        },
        "options": {}
      },
      "id": "ai-search",
      "name": "🤖 AI Summarize Results",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [700, 540]
    },
    {
      "parameters": {
        "fromEmail": "khalidwardha1@gmail.com",
        "toList": "={{ $('🔍 Book Search Form').item.json['Your Email (results will be sent here)'] }}",
        "subject": "=🔎 Library Search: {{ $('🔍 Book Search Form').item.json['Search Query'] }}",
        "emailType": "html",
        "message": "=<div style='font-family:Georgia,serif;background:linear-gradient(135deg,#fef6e4,#f3d2c1);padding:32px;border-radius:20px;color:#6b4226;max-width:480px;margin:auto;'><h2 style='color:#7a9e7e;'>🔍 Your Search Results</h2><p>Query: <b>{{ $('🔍 Book Search Form').item.json['Search Query'] }}</b></p><hr style='border:1px solid #d4a373;'/><p style='line-height:1.8;'>{{ $json.message.content }}</p><p style='margin-top:24px;color:#9b7b5a;font-size:13px;font-style:italic;text-align:center;'>🌷 Bibliophile Concierge — Your Enchanted Library Garden</p></div>"
      },
      "id": "gmail-results",
      "name": "📧 Gmail: Search Results",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 540]
    },
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 18 * * *" }] } },
      "id": "completed-cron",
      "name": "🌙 Evening Completed Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 880]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "apptGlLDt9VHCE9ey", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=AND({Status}=\"Completed\", {Posted}!=TRUE())",
        "options": {}
      },
      "id": "find-completed",
      "name": "🏁 Find Completed Books",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 880]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            { "role": "system", "content": "Return STRICT JSON only: { \"markdown_summary\": \"GitHub-flavored MD with # Title, ## Key Takeaways (3 bullets), ## Favourite Quote\", \"youtube_search\": \"4-6 word search for book trailer or summary video\", \"instagram_caption\": \"under 200 chars with 3 hashtags\" }" },
            { "role": "user", "content": "=Title: {{ $json.fields.Title }}\nAuthor: {{ $json.fields.Author }}\nGenre: {{ $json.fields.Genre }}\nNotes: {{ $json.fields.Notes }}\nSummary: {{ $json.fields.Summary }}" }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "ai-archive",
      "name": "🤖 Generate Archive Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [700, 880]
    },
    {
      "parameters": {
        "url": "https://discord.com/api/webhooks/1500211049113190552/AqZ5ib8wGq-7NdlsrZR0enbyd8U8kM4uSItd80DafG-0SWCk_FAt6DhPCy6g-XjwhR_N",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"✅ Book Completed & Archived!\",\n    \"description\": \"**{{ $('🏁 Find Completed Books').item.json.fields.Title }}** by {{ $('🏁 Find Completed Books').item.json.fields.Author }} 🎉\",\n    \"color\": 3066993,\n    \"thumbnail\": { \"url\": \"{{ $('🏁 Find Completed Books').item.json.fields['Cover URL'] || '' }}\" },\n    \"fields\": [\n      { \"name\": \"📸 Caption\", \"value\": \"{{ $json.message.content.instagram_caption }}\" }\n    ],\n    \"footer\": { \"text\": \"📚 Saved to GitHub & Google Sheets — Bibliophile Concierge 🌷\" }\n  }]\n}",
        "options": {}
      },
      "id": "discord-completed",
      "name": "💬 Discord: Book Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 760],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "wardha-netizen",
        "repository": "bibliophile-concierge",
        "filePath": "=summaries/{{ $('🏁 Find Completed Books').item.json.fields.Title.replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() }}.md",
        "fileContent": "={{ $json.message.content.markdown_summary }}",
        "commitMessage": "=📚 Add summary: {{ $('🏁 Find Completed Books').item.json.fields.Title }}"
      },
      "id": "github",
      "name": "🐙 GitHub Summary",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [960, 880]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1uAE8q1EjdE__pLJmxqjVAIWOrEfd3jeHjGydjpm4EDQ", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Completed", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title":   "={{ $('🏁 Find Completed Books').item.json.fields.Title }}",
            "Author":  "={{ $('🏁 Find Completed Books').item.json.fields.Author }}",
            "Genre":   "={{ $('🏁 Find Completed Books').item.json.fields.Genre }}",
            "Caption": "={{ $json.message.content.instagram_caption }}",
            "Summary": "={{ $json.message.content.markdown_summary }}",
            "Date":    "={{ $now.format('yyyy-MM-dd') }}"
          }
        }
      },
      "id": "sheets-completed",
      "name": "📒 Sheets: Log Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [960, 1000]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "key", "value": "AIzaSyBvhgifheJiYgVEqLLnH6VbgGpWhBgSvVc" }, { "name": "q", "value": "={{ $('🤖 Generate Archive Content').item.json.message.content.youtube_search }}" }, { "name": "part", "value": "snippet" }, { "name": "maxResults", "value": "1" }, { "name": "type", "value": "video" } ] },
        "options": {}
      },
      "id": "youtube",
      "name": "▶️ YouTube Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 1120],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "__rl": true, "value": "apptGlLDt9VHCE9ey", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "id": "={{ $('🏁 Find Completed Books').item.json.id }}",
        "columns": { "mappingMode": "defineBelow", "value": { "Posted": true } }
      },
      "id": "mark-posted",
      "name": "✅ Mark as Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1200, 880]
    }
  ],
  "connections": {
    "🌅 Daily 8AM Trigger": { "main": [[ { "node": "🤖 AI Quote of the Day", "type": "main", "index": 0 } ]] },
    "🤖 AI Quote of the Day": { "main": [[ { "node": "📧 Gmail: Water Your Mind", "type": "main", "index": 0 }, { "node": "💬 Discord Daily Quote", "type": "main", "index": 0 } ]] },
    "🔍 Book Search Form": { "main": [[ { "node": "🔎 Search in Vault", "type": "main", "index": 0 }, { "node": "📁 Google Drive PDF Search", "type": "main", "index": 0 } ]] },
    "🔎 Search in Vault": { "main": [[ { "node": "🤖 AI Summarize Results", "type": "main", "index": 0 } ]] },
    "📁 Google Drive PDF Search": { "main": [[ { "node": "🤖 AI Summarize Results", "type": "main", "index": 0 } ]] },
    "🤖 AI Summarize Results": { "main": [[ { "node": "📧 Gmail: Search Results", "type": "main", "index": 0 } ]] },
    "🌙 Evening Completed Check": { "main": [[ { "node": "🏁 Find Completed Books", "type": "main", "index": 0 } ]] },
    "🏁 Find Completed Books": { "main": [[ { "node": "🤖 Generate Archive Content", "type": "main", "index": 0 } ]] },
    "🤖 Generate Archive Content": { "main": [[ { "node": "💬 Discord: Book Completed", "type": "main", "index": 0 }, { "node": "🐙 GitHub Summary", "type": "main", "index": 0 }, { "node": "📒 Sheets: Log Completed", "type": "main", "index": 0 }, { "node": "▶️ YouTube Search", "type": "main", "index": 0 }, { "node": "✅ Mark as Posted", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "bibliophile" }, { "name": "member-3" }]
}
