03-engagement-semantic-search.json
{
  "name": "Bibliophile Concierge - Member 3: Engagement & Semantic Search",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] }
      },
      "id": "morning-cron",
      "name": "🌅 Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            { "role": "system", "content": "You are a poetic motivational librarian. Return STRICT JSON: { unique_code: 6-character alphanumeric, quote: under 25 words, attribution: book or author }." },
            { "role": "user", "content": "Generate today's 'Water Your Mind' message." }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "ai-quote",
      "name": "🤖 AI Quote of the Day",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [460, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.GMAIL_FROM }}",
        "toList": "={{ $vars.OWNER_EMAIL }}",
        "subject": "=🌱 Water Your Mind — Code {{ $json.message.content.unique_code }}",
        "emailType": "html",
        "message": "=<div style='font-family:Georgia,serif;background:#fef6e4;padding:24px;border-radius:16px;color:#6b4226'><h2>🌿 Today's Quote</h2><blockquote style='font-size:18px;font-style:italic'>\"{{ $json.message.content.quote }}\"</blockquote><p>— {{ $json.message.content.attribution }}</p><p>Your daily code: <b>{{ $json.message.content.unique_code }}</b></p></div>"
      },
      "id": "gmail-send",
      "name": "📧 Gmail: Water Your Mind",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [700, 120]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.OWNER_TELEGRAM_CHAT_ID }}",
        "text": "=🌅 *Water Your Mind*\n\n_\"{{ $json.message.content.quote }}\"_\n— {{ $json.message.content.attribution }}\n\n🔑 Code: `{{ $json.message.content.unique_code }}`",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-quote",
      "name": "✈️ Telegram Quote",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 280]
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "🔍 Telegram Search Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [220, 540],
      "webhookId": "bibliophile-search"
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=OR(SEARCH(LOWER(\"{{ $json.message.text }}\"), LOWER({Notes})), SEARCH(LOWER(\"{{ $json.message.text }}\"), LOWER({Summary})), SEARCH(LOWER(\"{{ $json.message.text }}\"), LOWER({Title})))",
        "options": { "limit": 5 }
      },
      "id": "search-airtable",
      "name": "🔎 Semantic Search in Vault",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 540]
    },
    {
      "parameters": {
        "operation": "search",
        "queryString": "=fullText contains '{{ $('🔍 Telegram Search Trigger').item.json.message.text }}' and mimeType = 'application/pdf'",
        "options": {}
      },
      "id": "drive-search",
      "name": "📁 Google Drive PDF Search",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 700]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            { "role": "system", "content": "You are a librarian. Given search query and matched books/PDFs, write a concise reply under 600 chars listing what was found and the most relevant quote/character." },
            { "role": "user", "content": "=Query: {{ $('🔍 Telegram Search Trigger').item.json.message.text }}\nAirtable matches: {{ JSON.stringify($('🔎 Semantic Search in Vault').all().map(i => i.json.fields)) }}\nDrive PDFs: {{ JSON.stringify($('📁 Google Drive PDF Search').all().map(i => i.json.name)) }}" }
          ]
        },
        "options": {}
      },
      "id": "ai-summarize-search",
      "name": "🤖 AI Summarize Results",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [700, 620]
    },
    {
      "parameters": {
        "chatId": "={{ $('🔍 Telegram Search Trigger').item.json.message.chat.id }}",
        "text": "=🔎 *Search results for:* _{{ $('🔍 Telegram Search Trigger').item.json.message.text }}_\n\n{{ $json.message.content }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-reply",
      "name": "✈️ Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 620]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 18 * * *" }] }
      },
      "id": "completed-cron",
      "name": "🌙 Evening Completed Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 940]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=AND({Status}=\"Completed\", {Posted}!=TRUE())",
        "options": {}
      },
      "id": "find-completed",
      "name": "🏁 Find New Completed Books",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 940]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "messages": {
          "values": [
            { "role": "system", "content": "Return STRICT JSON: { instagram_caption (under 200 chars, includes 3 hashtags), linkedin_post (200-400 words, professional), markdown_summary (GitHub-flavored MD with title, key takeaways, quote), pinterest_description (under 150 chars), youtube_search (a 4-6 word search term for a book trailer or summary video) }." },
            { "role": "user", "content": "=Title: {{ $json.fields.Title }}\nAuthor: {{ $json.fields.Author }}\nGenre: {{ $json.fields.Genre }}\nNotes: {{ $json.fields.Notes }}\nSummary: {{ $json.fields.Summary }}" }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "ai-archive-content",
      "name": "🤖 Generate Archive Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [700, 940]
    },
    {
      "parameters": {
        "resource": "media",
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ $json.message.content.instagram_caption }}"
        }
      },
      "id": "instagram",
      "name": "📷 Instagram Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 760],
      "notes": "Uses Facebook Graph API for Instagram Business — see README setup."
    },
    {
      "parameters": {
        "text": "={{ $json.message.content.linkedin_post }}",
        "additionalFields": {}
      },
      "id": "linkedin",
      "name": "💼 LinkedIn Post",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [960, 880]
    },
    {
      "parameters": {
        "operation": "create",
        "owner": "={{ $vars.GITHUB_OWNER }}",
        "repository": "={{ $vars.GITHUB_REPO }}",
        "filePath": "=summaries/{{ $('🏁 Find New Completed Books').item.json.fields.Title.replace(/[^a-zA-Z0-9]/g,'-').toLowerCase() }}.md",
        "fileContent": "={{ $json.message.content.markdown_summary }}",
        "commitMessage": "=Add summary for {{ $('🏁 Find New Completed Books').item.json.fields.Title }}"
      },
      "id": "github",
      "name": "🐙 GitHub Markdown Summary",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [960, 1000]
    },
    {
      "parameters": {
        "url": "https://api.pinterest.com/v5/pins",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"board_id\": \"{{ $vars.PINTEREST_BOARD_ID }}\", \"title\": \"{{ $('🏁 Find New Completed Books').item.json.fields.Title }}\", \"description\": \"{{ $json.message.content.pinterest_description }}\", \"media_source\": { \"source_type\": \"image_url\", \"url\": \"{{ $('🏁 Find New Completed Books').item.json.fields['Cover URL'] }}\" } }",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "=Bearer {{ $vars.PINTEREST_TOKEN }}" } ] }
      },
      "id": "pinterest",
      "name": "📌 Pinterest Mood Pin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 1120]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $vars.YOUTUBE_API_KEY }}" },
            { "name": "q", "value": "={{ $json.message.content.youtube_search }}" },
            { "name": "part", "value": "snippet" },
            { "name": "maxResults", "value": "1" },
            { "name": "type", "value": "video" }
          ]
        }
      },
      "id": "youtube",
      "name": "▶️ YouTube Companion Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 1240]
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "addItem",
        "playlistId": "={{ $vars.SPOTIFY_VIBE_PLAYLIST_ID }}",
        "trackId": "={{ $vars.SPOTIFY_DEFAULT_TRACK_ID }}"
      },
      "id": "spotify",
      "name": "🎵 Spotify Vibe Playlist",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [960, 1360]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileContent": "={{ $('🤖 Generate Archive Content').item.json.message.content.markdown_summary }}",
        "filePath": "=/BibliophileBackups/{{ $('🏁 Find New Completed Books').item.json.fields.Title }}.md"
      },
      "id": "dropbox",
      "name": "📦 Dropbox Backup",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [960, 1480]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $vars.MS_EXCEL_FILE_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Completed", "mode": "name" },
        "columns": { "mappingMode": "autoMapInputData", "value": {} }
      },
      "id": "excel",
      "name": "📊 Microsoft Excel Log",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2,
      "position": [960, 1600]
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "id": "={{ $('🏁 Find New Completed Books').item.json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Posted": true }
        }
      },
      "id": "mark-posted",
      "name": "✅ Mark as Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1220, 940]
    }
  ],
  "connections": {
    "🌅 Daily 8AM Trigger": { "main": [[{ "node": "🤖 AI Quote of the Day", "type": "main", "index": 0 }]] },
    "🤖 AI Quote of the Day": { "main": [[
      { "node": "📧 Gmail: Water Your Mind", "type": "main", "index": 0 },
      { "node": "✈️ Telegram Quote", "type": "main", "index": 0 }
    ]] },
    "🔍 Telegram Search Trigger": { "main": [[
      { "node": "🔎 Semantic Search in Vault", "type": "main", "index": 0 },
      { "node": "📁 Google Drive PDF Search", "type": "main", "index": 0 }
    ]] },
    "🔎 Semantic Search in Vault": { "main": [[{ "node": "🤖 AI Summarize Results", "type": "main", "index": 0 }]] },
    "📁 Google Drive PDF Search": { "main": [[{ "node": "🤖 AI Summarize Results", "type": "main", "index": 0 }]] },
    "🤖 AI Summarize Results": { "main": [[{ "node": "✈️ Telegram Reply", "type": "main", "index": 0 }]] },
    "🌙 Evening Completed Check": { "main": [[{ "node": "🏁 Find New Completed Books", "type": "main", "index": 0 }]] },
    "🏁 Find New Completed Books": { "main": [[{ "node": "🤖 Generate Archive Content", "type": "main", "index": 0 }]] },
    "🤖 Generate Archive Content": { "main": [[
      { "node": "📷 Instagram Post", "type": "main", "index": 0 },
      { "node": "💼 LinkedIn Post", "type": "main", "index": 0 },
      { "node": "🐙 GitHub Markdown Summary", "type": "main", "index": 0 },
      { "node": "📌 Pinterest Mood Pin", "type": "main", "index": 0 },
      { "node": "▶️ YouTube Companion Video", "type": "main", "index": 0 },
      { "node": "🎵 Spotify Vibe Playlist", "type": "main", "index": 0 },
      { "node": "📦 Dropbox Backup", "type": "main", "index": 0 },
      { "node": "📊 Microsoft Excel Log", "type": "main", "index": 0 },
      { "node": "✅ Mark as Posted", "type": "main", "index": 0 }
    ]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "bibliophile" }, { "name": "member-3" }]
}
