04-whatsapp-team-hub.json
{
  "name": "Bibliophile Concierge - Member 4: WhatsApp Team Hub",
  "nodes": [

    {
      "parameters": {
        "formTitle": "📚 Request a Book from the Library",
        "formDescription": "Tell your team which book you want to borrow. They'll get a WhatsApp notification instantly.",
        "formFields": {
          "values": [
            { "fieldLabel": "Your Name", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Book Title You Want", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Why do you want it? (optional)", "fieldType": "textarea" },
            {
              "fieldLabel": "How urgent?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "🟢 Whenever free" },
                  { "option": "🟡 This week" },
                  { "option": "🔴 ASAP" }
                ]
              }
            }
          ]
        },
        "options": {
          "customCss": "body{background:linear-gradient(135deg,#e8f5e9,#c8e6c9);font-family:Georgia,serif;} .form-container{background:#fff;border:2px solid #66bb6a;border-radius:16px;} h1{color:#2e7d32;} button{background:#43a047 !important;border-radius:999px !important;}"
        }
      },
      "id": "request-form",
      "name": "📋 Book Request Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [220, 280],
      "webhookId": "bibliophile-request"
    },

    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=SEARCH(LOWER(\"{{ $json['Book Title You Want'] }}\"), LOWER({Title}))",
        "options": { "limit": 1 }
      },
      "id": "check-availability",
      "name": "🔎 Check If Book Available",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 280]
    },

    {
      "parameters": {
        "jsCode": "const requestor = $('📋 Book Request Form').item.json['Your Name'];\nconst bookWanted = $('📋 Book Request Form').item.json['Book Title You Want'];\nconst reason = $('📋 Book Request Form').item.json['Why do you want it? (optional)'] || 'No reason given';\nconst urgency = $('📋 Book Request Form').item.json['How urgent?'];\nconst found = $input.all();\n\nlet status = '❓ Not in library yet';\nlet foundTitle = bookWanted;\nif (found.length > 0) {\n  const s = found[0].json.fields?.Status || 'Unknown';\n  foundTitle = found[0].json.fields?.Title || bookWanted;\n  status = s === 'Available' ? '✅ AVAILABLE NOW' : s === 'Issued' ? `📕 Currently lent out` : `📌 ${s}`;\n}\n\nconst msg = `📚 *Book Request*\\n\\n👤 *From:* ${requestor}\\n📖 *Book:* ${foundTitle}\\n📊 *Status:* ${status}\\n⚡ *Urgency:* ${urgency}\\n💬 *Reason:* ${reason}`;\n\nreturn [{ json: { message: msg, requestor, bookWanted: foundTitle, status, urgency } }];"
      },
      "id": "build-request-msg",
      "name": "📝 Build Request Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 280]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER1_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.message }}\" }\n}",
        "options": {}
      },
      "id": "wa-member1-request",
      "name": "📱 WhatsApp → Member 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 160]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER2_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('📝 Build Request Message').item.json.message }}\" }\n}",
        "options": {}
      },
      "id": "wa-member2-request",
      "name": "📱 WhatsApp → Member 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER3_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('📝 Build Request Message').item.json.message }}\" }\n}",
        "options": {}
      },
      "id": "wa-member3-request",
      "name": "📱 WhatsApp → Member 3 (Owner)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 440]
    },

    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "={{ $vars.GOOGLE_SHEETS_BACKUP_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Requests", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Requestor": "={{ $('📋 Book Request Form').item.json['Your Name'] }}",
            "Book Wanted": "={{ $('📝 Build Request Message').item.json.bookWanted }}",
            "Status": "={{ $('📝 Build Request Message').item.json.status }}",
            "Urgency": "={{ $('📋 Book Request Form').item.json['How urgent?'] }}",
            "Date": "={{ $now.format('yyyy-MM-dd HH:mm') }}"
          }
        }
      },
      "id": "log-request",
      "name": "📒 Log Request in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [940, 580]
    },

    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }] }
      },
      "id": "digest-cron",
      "name": "⏰ Daily 9AM Digest",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 780]
    },

    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "",
        "options": {}
      },
      "id": "all-books",
      "name": "📊 Get All Books",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 780]
    },

    {
      "parameters": {
        "jsCode": "const books = $input.all().map(i => i.json.fields);\nconst total = books.length;\nconst available = books.filter(b => b.Status === 'Available').length;\nconst issued = books.filter(b => b.Status === 'Issued').length;\nconst completed = books.filter(b => b.Status === 'Completed').length;\nconst overdue = books.filter(b => {\n  if (b.Status !== 'Issued' || !b['Due Date']) return false;\n  return new Date(b['Due Date']) < new Date();\n}).length;\n\nconst issuedList = books\n  .filter(b => b.Status === 'Issued')\n  .map(b => `  • _${b.Title}_ → ${b['Lent To'] || 'unknown'} (due ${b['Due Date'] || '?'})`)\n  .join('\\n') || '  None';\n\nconst today = new Date().toLocaleDateString('en-GB', { weekday:'long', day:'numeric', month:'long' });\n\nconst msg = `🌿 *Bibliophile Team Digest*\\n📅 ${today}\\n\\n📚 *Library Stats:*\\n✅ Available: ${available}\\n📕 Issued: ${issued}\\n🏁 Completed: ${completed}\\n⚠️ Overdue: ${overdue}\\n📖 Total: ${total}\\n\\n📕 *Currently Out:*\\n${issuedList}\\n\\n_Happy reading, team! 🌷_`;\n\nreturn [{ json: { digestMsg: msg, overdue } }];"
      },
      "id": "build-digest",
      "name": "📊 Build Team Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 780]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER1_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $json.digestMsg }}\" }\n}",
        "options": {}
      },
      "id": "digest-m1",
      "name": "📱 Digest → Member 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 680]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER2_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('📊 Build Team Digest').item.json.digestMsg }}\" }\n}",
        "options": {}
      },
      "id": "digest-m2",
      "name": "📱 Digest → Member 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 820]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER3_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"{{ $('📊 Build Team Digest').item.json.digestMsg }}\" }\n}",
        "options": {}
      },
      "id": "digest-m3",
      "name": "📱 Digest → Member 3 (Owner)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 960]
    },

    {
      "parameters": {
        "formTitle": "✅ Mark Book as Returned",
        "formDescription": "Use this form to mark a book as returned by your teammate.",
        "formFields": {
          "values": [
            { "fieldLabel": "Book Title", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Returned By", "fieldType": "text", "requiredField": true }
          ]
        },
        "options": {
          "customCss": "body{background:#e8f5e9;font-family:Georgia,serif;} h1{color:#2e7d32;} button{background:#43a047 !important;border-radius:999px !important;}"
        }
      },
      "id": "return-form",
      "name": "📬 Book Returned Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [220, 1200],
      "webhookId": "bibliophile-returned"
    },

    {
      "parameters": {
        "operation": "search",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "filterByFormula": "=SEARCH(LOWER(\"{{ $json['Book Title'] }}\"), LOWER({Title}))",
        "options": { "limit": 1 }
      },
      "id": "find-returned-book",
      "name": "🔍 Find Returned Book",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [460, 1200]
    },

    {
      "parameters": {
        "operation": "update",
        "base": { "__rl": true, "value": "={{ $vars.AIRTABLE_BASE_ID }}", "mode": "id" },
        "table": { "__rl": true, "value": "Books", "mode": "name" },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Status": "Available", "Lent To": "", "Due Date": "" }
        }
      },
      "id": "update-returned",
      "name": "📗 Update Status to Available",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [700, 1200]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER1_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"📖 *Book Now Available!*\\n\\n✅ *{{ $('📬 Book Returned Form').item.json['Book Title'] }}* has been returned by {{ $('📬 Book Returned Form').item.json['Returned By'] }}.\\n\\nFirst come, first served! 🌷\" }\n}",
        "options": {}
      },
      "id": "return-notify-m1",
      "name": "📱 Return Alert → Member 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 1120]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER2_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"📖 *Book Now Available!*\\n\\n✅ *{{ $('📬 Book Returned Form').item.json['Book Title'] }}* has been returned by {{ $('📬 Book Returned Form').item.json['Returned By'] }}.\\n\\nFirst come, first served! 🌷\" }\n}",
        "options": {}
      },
      "id": "return-notify-m2",
      "name": "📱 Return Alert → Member 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 1260]
    },

    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $vars.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $vars.WHATSAPP_ACCESS_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $vars.MEMBER3_PHONE }}\",\n  \"type\": \"text\",\n  \"text\": { \"body\": \"📖 *Book Now Available!*\\n\\n✅ *{{ $('📬 Book Returned Form').item.json['Book Title'] }}* has been returned by {{ $('📬 Book Returned Form').item.json['Returned By'] }}.\\n\\nFirst come, first served! 🌷\" }\n}",
        "options": {}
      },
      "id": "return-notify-m3",
      "name": "📱 Return Alert → Member 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 1400]
    }

  ],
  "connections": {
    "📋 Book Request Form": { "main": [[{ "node": "🔎 Check If Book Available", "type": "main", "index": 0 }]] },
    "🔎 Check If Book Available": { "main": [[{ "node": "📝 Build Request Message", "type": "main", "index": 0 }]] },
    "📝 Build Request Message": {
      "main": [[
        { "node": "📱 WhatsApp → Member 1", "type": "main", "index": 0 },
        { "node": "📱 WhatsApp → Member 2", "type": "main", "index": 0 },
        { "node": "📱 WhatsApp → Member 3 (Owner)", "type": "main", "index": 0 },
        { "node": "📒 Log Request in Sheets", "type": "main", "index": 0 }
      ]]
    },
    "⏰ Daily 9AM Digest": { "main": [[{ "node": "📊 Get All Books", "type": "main", "index": 0 }]] },
    "📊 Get All Books": { "main": [[{ "node": "📊 Build Team Digest", "type": "main", "index": 0 }]] },
    "📊 Build Team Digest": {
      "main": [[
        { "node": "📱 Digest → Member 1", "type": "main", "index": 0 },
        { "node": "📱 Digest → Member 2", "type": "main", "index": 0 },
        { "node": "📱 Digest → Member 3 (Owner)", "type": "main", "index": 0 }
      ]]
    },
    "📬 Book Returned Form": { "main": [[{ "node": "🔍 Find Returned Book", "type": "main", "index": 0 }]] },
    "🔍 Find Returned Book": { "main": [[{ "node": "📗 Update Status to Available", "type": "main", "index": 0 }]] },
    "📗 Update Status to Available": {
      "main": [[
        { "node": "📱 Return Alert → Member 1", "type": "main", "index": 0 },
        { "node": "📱 Return Alert → Member 2", "type": "main", "index": 0 },
        { "node": "📱 Return Alert → Member 3", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "tags": [{ "name": "bibliophile" }, { "name": "member-4" }, { "name": "whatsapp" }]
}
